<a href="https://colab.research.google.com/github/cindy12651269/Checking_dataframe_missing_valu/blob/cindy12651269%2Fhw1/Checking_dataframe_missing_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(url)

# Check for missing values
missing_values = df.isnull().sum()
print("Number of missing values in each column:")
print(missing_values)

max_missing = missing_values.max()
print("\nMaximum number of missing values in any column:", max_missing)

# Replace missing values with mean for numeric columns
numeric_cols = df.select_dtypes(include='number').columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

# Calculate average price by manufacturer
avg_price_by_manufacturer = df.groupby('Manufacturer')['Price'].mean()
print("\nAverage price of different manufacturers:")
print(avg_price_by_manufacturer)

# Replace missing values in 'Price' column with mean depending on manufacturer
df['price'] = df.groupby('Manufacturer')['Price'].transform(lambda x: x.fillna(x.mean()))

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df.head())

Number of missing values in each column:
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Maximum number of missing values in any column: 38

Average price of different manufacturers:
Manufacturer
Acura            15.900000
Audi             33.400000
BMW              30.000000
Buick            21.625000
Cadillac         37.400000
Chevrolet        18.187500
Chrysler         22.650000
Dodge            15.700000
Eagle            15.750000
Ford             14.962500
Geo              10.450000
Honda            16.466667
Hyundai          10.475000
Infiniti         47.900000
Lexus            28.000000
Lincoln          35.200000
Mazda            17.600000
Mercedes-Benz    46.900000
Mercury          14.500000
Mitsubishi       18.200000
Nissan           17.025000
Oldsmobile       17.500000
Plymouth         14.400000
Pontiac          16.140000
Saab             28.700000
Saturn           19.616484
Subaru           12.933333
Suzuki            8.600000
Toyota           17.629121
Volkswagen       18.025000
Volvo            22.700000
Name: Price, dtype: float64

Updated DataFrame:
  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura  Integra    Small  12.900000   15.9  18.800000      25.0
1          NaN   Legend  Midsize  29.200000   33.9  38.700000      18.0
2         Audi       90  Compact  25.900000   29.1  32.300000      20.0
3         Audi      100  Midsize  17.118605   37.7  44.600000      19.0
4          BMW     535i  Midsize  17.118605   30.0  21.459091      22.0

   MPG.highway             AirBags DriveTrain  ... Length  Wheelbase  \
0         31.0                 NaN      Front  ...  177.0      102.0
1         25.0  Driver & Passenger      Front  ...  195.0      115.0
2         26.0         Driver only      Front  ...  180.0      102.0
3         26.0  Driver & Passenger        NaN  ...  193.0      106.0
4         30.0                 NaN       Rear  ...  186.0      109.0

       Width  Turn.circle  Rear.seat.room Luggage.room  Weight   Origin  \
0  68.000000         37.0            26.5    13.986486  2705.0  non-USA
1  71.000000         38.0            30.0    15.000000  3560.0  non-USA
2  67.000000         37.0            28.0    14.000000  3375.0  non-USA
3  69.448276         37.0            31.0    17.000000  3405.0  non-USA
4  69.000000         39.0            27.0    13.000000  3640.0  non-USA

            Make  price
0  Acura Integra   15.9
1   Acura Legend    NaN
2        Audi 90   29.1
3       Audi 100   37.7
4       BMW 535i   30.0

[5 rows x 28 columns]